Repository ArinDhawan/CS225_FinalProject_F22, pull requests merged in 2022-12, with the labels that each got.

#6 fixed mem leaks and made sortSet()
  entry/main.cpp
  src/BFS.cpp
  src/BFS.h
  src/Edge.cpp
  src/Edge.h
  src/Node.cpp
  src/Node.h
Labels: makeDataSet(), BFS()

#10 Test/dijkstra
  .vscode/settings.json
  src/dijkstra.cpp
  src/dijkstra.h
Labels: dijkstra

#15 makeDataSet runtime is amazing
  src/BFS.cpp
  src/BFS.h
  src/Edge.cpp
  src/Edge.h
  src/print.cpp
Labels: makeDataSet()
